
# The root folder is visible (default setting)
Order allow,deny
Allow from all

# No indexes anywhere
Options -Indexes 

RewriteEngine on
RewriteBase /

# Rewrite-rules used to forbid hidden folders. error-pages cannot be forbidden, causes internal server error
RewriteRule ^php/(.*)$ - [F]

# Some of these might be ignored
ErrorDocument 400 /error-pages/400.php
ErrorDocument 401 /error-pages/401.php
ErrorDocument 402 /error-pages/402.php
ErrorDocument 403 /error-pages/403.php
ErrorDocument 404 /error-pages/404.php
ErrorDocument 500 /error-pages/500.php
