# ErrorDocument 400 error-pages/400.php# ErrorDocument 401 error-pages/401.phpErrorDocument 402 error-pages/402.phpErrorDocument 403 error-pages/403.phpErrorDocument 404 error-pages/404.phpErrorDocument 500 error-pages/500.phpAuthUserFile /usr/bizzyanton/www/.htpasswdAuthType BasicAuthName "Anton's Webspace!"#<limit GET POST>require valid-user#</limit>