# This folder has no password-protection# Disable viewing of files/subfolders in all foldersOptions -Indexes# Error-Documents are ignored, only bplaced pro. Here just for the code.# ErrorDocument 400 /error-pages/400.php# ErrorDocument 401 /error-pages/401.phpErrorDocument 402 /error-pages/402.phpErrorDocument 403 /error-pages/403.phpErrorDocument 404 /error-pages/404.phpErrorDocument 500 /error-pages/500.php