body {
	padding: 0;
	margin: 0;
	background-color: #ddf5f5ff;
	overflow: hidden;
	height: 100%;
}
#main {
	padding: 100px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 85%;
	padding: 0;
	overflow: hidden;
	border-style: none solid;
}

/* Header */

#header {
	height: 60px;
}
#header-content {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}
#header h1 {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
#loginStatus {
	float: right;
	margin-top: 37px;
	background-color: #ffc6;
}

/* Menu */

#menu {
	margin: 0 0 10px;
	height: 50px;
}
#menu a {
	float: left;
	padding: 0 10px;
	cursor: pointer;
	border-style: none solid solid;
}
#menu a:link {
	text-decoration: none;
	color: black;
}
#menu a:visited {
	text-decoration: none;
	color: black;
}
#menu a:active{
	text-decoration: none;
	color: black;
}
#menu a:hover{
	text-decoration: none;
	background-color: E8E0CA;
	color: black;
}
#menu a.selected {
	background-color: CCC3A9;
}
#menu a * {
	margin: 10px 0;
}

/* The common border */

#menu a, #header {
	border-style: none solid solid;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
#menu a, #header, #main {
	border-color: BDB9AE;
	border-width: 7px;
}

/* Footer */

#footer {
	clear: both;
	height: auto;
	margin: 0 0 10px;
	height: 3%;
}
#footer * {
	margin: 0 10px 0;
	float: right;
}
